<div class="form-wrapper">
  <h1>Tambah Episode Anime</h1>
  <form action="/add-src" method="post" class="card" id="form-add-src">
    <div class="input-group">
      <label for="animeId">Nama Anime</label>
      <select name="animeId" id="animeId" required>
        <option selected disabled>Choose</option>
        <% animes.forEach((anime) => { %>
          <option value="<%= anime._id %>" data-type="<%= anime.type %>"><%= anime.title %></option>
        <% }) %>  
      </select>
    </div>
    <div class="input-group">
      <label for="linkPath">Full Path</label>
      <input type="text" name="path" id="linkPath" autocomplete="off" required>
    </div>
    <button type="submit">Kirim</button>
  </form>
</div>
<script src="../../js/scriptAddSrc.js"></script>
