<div class="form-wrapper">
  <h1>Tambah Episode Anime</h1>
  <form action="/add-eps" method="post" class="card">
    <div class="input-group">
      <label for="title">Nama Anime</label>
      <select name="idAnime" id="">
        <option selected disabled>Choose</option>
        <% animes.forEach((anime) => { %>
          <option value="<%= anime.id %>"><%= anime.title %></option>
        <% }) %>  
      </select>
    </div>
    <div class="input-group">
      <label for="type">Type</label>
      <select name="type" id="type">
        <option selected disabled>Choose</option>
        <option value="movie">Movie</option>
        <option value="series">Series</option>
      </select>
    </div>
    <div class="input-group">
      <label for="withZero">Number With Zero</label>
      <select name="withZero" id="withZero">
        <option selected disabled>Choose</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="input-group">
      <label for="totalEps">Total Episode</label>
      <input type="number" name="totalEps" id="totalEps">
    </div>
    <div class="input-group">
      <label for="genPathName">General Path Name</label>
      <input type="text" name="genPathName" id="genPathName" placeholder="Ex : Kimi-No-Nawa">
    </div>
    <button type="submit">Kirim</button>
  </form>
</div>
